USE [master]
GO
/****** Object:  Database [wasl]    Script Date: 11/7/2025 3:21:45 PM ******/
CREATE DATABASE [wasl]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'wasl', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\wasl.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'wasl_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\wasl_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [wasl].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [wasl]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 11/7/2025 3:21:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[adminId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[adminEmail] [nvarchar](150) NULL,
	[adminPhoneNumber] [nvarchar](20) NULL,
	[adminStatus] [nvarchar](50) NULL,
	[adminFirstName] [nvarchar](100) NULL,
	[adminLastName] [nvarchar](100) NULL,
	[adminRole] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[adminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bid]    Script Date: 11/7/2025 3:21:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bid](
	[bidId] [int] IDENTITY(1,1) NOT NULL,
	[bidPrice] [decimal](18, 2) NULL,
	[estimatedDeliveryDays] [int] NULL,
	[bidNotes] [nvarchar](255) NULL,
	[bidStatus] [nvarchar](50) NULL,
	[submitDate] [datetime] NULL,
	[shipmentRequestId] [int] NULL,
	[providerId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bidId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 11/7/2025 3:21:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[companyId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[companyName] [nvarchar](150) NULL,
	[businessRegistrationNumber] [nvarchar](100) NULL,
	[companyAddress] [nvarchar](255) NULL,
	[companyCity] [nvarchar](100) NULL,
	[companyRegion] [nvarchar](100) NULL,
	[companyEmail] [nvarchar](150) NULL,
	[phoneNumber] [nvarchar](20) NULL,
	[isApproved] [bit] NULL,
	[companyStatus] [nvarchar](50) NULL,
	[adminId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[companyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 11/7/2025 3:21:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[contractId] [int] IDENTITY(1,1) NOT NULL,
	[contractDocument] [nvarchar](255) NULL,
	[signDate] [datetime] NULL,
	[bidId] [int] NULL,
	[companyId] [int] NULL,
	[providerId] [int] NULL,
	[shipmentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[contractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 11/7/2025 3:21:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedbackId] [int] IDENTITY(1,1) NOT NULL,
	[rating] [int] NULL,
	[comments] [nvarchar](255) NULL,
	[feedbackDate] [datetime] NULL,
	[providerId] [int] NULL,
	[shipmentId] [int] NULL,
	[companyId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 11/7/2025 3:21:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[invoiceId] [int] IDENTITY(1,1) NOT NULL,
	[invoiceNumber] [nvarchar](100) NULL,
	[invoiceDate] [datetime] NULL,
	[invoiceDueDate] [datetime] NULL,
	[paymentId] [int] NULL,
	[contractId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[invoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 11/7/2025 3:21:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[paymentId] [int] IDENTITY(1,1) NOT NULL,
	[paymentAmount] [decimal](18, 2) NULL,
	[paymentMethod] [nvarchar](50) NULL,
	[paymentStatus] [nvarchar](50) NULL,
	[transactionId] [nvarchar](100) NULL,
	[paymentDate] [datetime] NULL,
	[invoiceId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[paymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provider]    Script Date: 11/7/2025 3:21:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provider](
	[providerId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[providerName] [nvarchar](150) NULL,
	[businessRegistrationNumber] [nvarchar](100) NULL,
	[providerAddress] [nvarchar](255) NULL,
	[providerCity] [nvarchar](100) NULL,
	[providerRegion] [nvarchar](100) NULL,
	[serviceDescription] [nvarchar](255) NULL,
	[isApproved] [bit] NULL,
	[providerEmail] [nvarchar](150) NULL,
	[providerPhoneNumber] [nvarchar](20) NULL,
	[adminId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[providerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RevenueReport]    Script Date: 11/7/2025 3:21:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RevenueReport](
	[reportId] [int] IDENTITY(1,1) NOT NULL,
	[totalCommission] [decimal](18, 2) NULL,
	[generateDate] [datetime] NULL,
	[totalRevenue] [decimal](18, 2) NULL,
	[periodCovered] [nvarchar](100) NULL,
	[adminId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[reportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipment]    Script Date: 11/7/2025 3:21:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipment](
	[shipmentId] [int] IDENTITY(1,1) NOT NULL,
	[trackingNumber] [nvarchar](100) NULL,
	[currentStatus] [nvarchar](50) NULL,
	[actualStartDate] [datetime] NULL,
	[actualDeliveryTime] [datetime] NULL,
	[contractId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[shipmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipmentRequest]    Script Date: 11/7/2025 3:21:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipmentRequest](
	[shipmentRequestId] [int] IDENTITY(1,1) NOT NULL,
	[goodsType] [nvarchar](100) NULL,
	[weightKg] [decimal](10, 2) NULL,
	[pickupLocation] [nvarchar](255) NULL,
	[pickupCity] [nvarchar](100) NULL,
	[pickupRegion] [nvarchar](100) NULL,
	[deliveryLocation] [nvarchar](255) NULL,
	[deliveryCity] [nvarchar](100) NULL,
	[deliveryRegion] [nvarchar](100) NULL,
	[deliveryDeadline] [datetime] NULL,
	[status] [nvarchar](50) NULL,
	[specialInstructions] [nvarchar](255) NULL,
	[requestDate] [datetime] NULL,
	[updateAt] [datetime] NULL,
	[companyId] [int] NULL,
	[providerId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[shipmentRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/7/2025 3:21:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](100) NOT NULL,
	[userEmail] [nvarchar](150) NOT NULL,
	[userPassword] [nvarchar](255) NOT NULL,
	[userRole] [nvarchar](50) NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_test]    Script Date: 11/7/2025 3:21:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_test](
	[user_id] [int] NOT NULL,
	[user_email] [nvarchar](100) NULL,
	[password_hash] [nvarchar](50) NOT NULL,
	[user_type] [nchar](10) NOT NULL,
	[phone_number] [nvarchar](50) NOT NULL,
	[created_at] [timestamp] NOT NULL,
	[is_Active] [bit] NOT NULL,
	[is_approves] [bit] NOT NULL,
 CONSTRAINT [PK_user_test] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([adminId], [userId], [adminEmail], [adminPhoneNumber], [adminStatus], [adminFirstName], [adminLastName], [adminRole]) VALUES (1, 1, N'admin@wasl.com', N'+966500000000', N'Active', N'Ahmede', N'AlHarbi', N'System Administrator')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Bid] ON 

INSERT [dbo].[Bid] ([bidId], [bidPrice], [estimatedDeliveryDays], [bidNotes], [bidStatus], [submitDate], [shipmentRequestId], [providerId]) VALUES (1, CAST(1200.00 AS Decimal(18, 2)), 3, N'Fast delivery by Provider 1', N'ContractCreated', CAST(N'2025-10-08T09:43:09.857' AS DateTime), 1, 1)
INSERT [dbo].[Bid] ([bidId], [bidPrice], [estimatedDeliveryDays], [bidNotes], [bidStatus], [submitDate], [shipmentRequestId], [providerId]) VALUES (2, CAST(1300.00 AS Decimal(18, 2)), 4, N'Includes insurance', N'Rejected', CAST(N'2025-10-08T09:43:09.857' AS DateTime), 1, 2)
INSERT [dbo].[Bid] ([bidId], [bidPrice], [estimatedDeliveryDays], [bidNotes], [bidStatus], [submitDate], [shipmentRequestId], [providerId]) VALUES (3, CAST(1150.00 AS Decimal(18, 2)), 5, N'Lowest price guaranteed', N'Rejected', CAST(N'2025-10-08T09:43:09.857' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Bid] OFF
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([companyId], [userId], [companyName], [businessRegistrationNumber], [companyAddress], [companyCity], [companyRegion], [companyEmail], [phoneNumber], [isApproved], [companyStatus], [adminId]) VALUES (1, 2, N'Saudi Logistics Co.dee', N'CR123456', N'King Abdullah Road, Riyadh', N'buraidah', N'qassim', N'info@saudilogistics.com', N'+966555111111', 1, N'Approved', 1)
INSERT [dbo].[Company] ([companyId], [userId], [companyName], [businessRegistrationNumber], [companyAddress], [companyCity], [companyRegion], [companyEmail], [phoneNumber], [isApproved], [companyStatus], [adminId]) VALUES (2, 3, N'AlNajm Transport Co.', N'CR654321', N'Prince Sultan Street, Jeddah', N'Jeddah', N'Makkah Region', N'contact@alnajm.com.sa', N'+966555222222', 1, N'Approved', 1)
INSERT [dbo].[Company] ([companyId], [userId], [companyName], [businessRegistrationNumber], [companyAddress], [companyCity], [companyRegion], [companyEmail], [phoneNumber], [isApproved], [companyStatus], [adminId]) VALUES (3, 6, N'Crane Rosario Traders', N'794', N'Autem architecto con', N'nanman', N'asir', N'hysefonara@mailinator.com', N'+1 (896) 493-6496', 1, N'PendingApproval', NULL)
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[Contract] ON 

INSERT [dbo].[Contract] ([contractId], [contractDocument], [signDate], [bidId], [companyId], [providerId], [shipmentId]) VALUES (1, N'/uploads/dummy-slug-2025-10-09-68e73735db24b.pdf', CAST(N'2025-10-09T04:16:53.900' AS DateTime), 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Contract] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([feedbackId], [rating], [comments], [feedbackDate], [providerId], [shipmentId], [companyId]) VALUES (1, 5, N'Excellent delivery service. Fast and reliable.', CAST(N'2025-10-08T01:56:51.913' AS DateTime), 1, 1, 1)
INSERT [dbo].[Feedback] ([feedbackId], [rating], [comments], [feedbackDate], [providerId], [shipmentId], [companyId]) VALUES (2, 4, N'Good experience overall, slight delay in pickup.', CAST(N'2025-10-08T01:56:51.913' AS DateTime), 2, 2, 1)
INSERT [dbo].[Feedback] ([feedbackId], [rating], [comments], [feedbackDate], [providerId], [shipmentId], [companyId]) VALUES (3, 5, N'Outstanding coordination and support.', CAST(N'2025-10-08T01:56:51.913' AS DateTime), 1, 2, 2)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([invoiceId], [invoiceNumber], [invoiceDate], [invoiceDueDate], [paymentId], [contractId]) VALUES (4, N'INV-20251008-1', CAST(N'2025-10-08T08:42:44.770' AS DateTime), CAST(N'2025-10-23T08:42:44.770' AS DateTime), 7, 1)
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([paymentId], [paymentAmount], [paymentMethod], [paymentStatus], [transactionId], [paymentDate], [invoiceId]) VALUES (7, CAST(1200.00 AS Decimal(18, 2)), N'credit_card', N'Successful', N'TXN-1759912964-4', CAST(N'2025-10-08T08:42:44.787' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Provider] ON 

INSERT [dbo].[Provider] ([providerId], [userId], [providerName], [businessRegistrationNumber], [providerAddress], [providerCity], [providerRegion], [serviceDescription], [isApproved], [providerEmail], [providerPhoneNumber], [adminId]) VALUES (1, 4, N'Desert Falcon Logistics', N'BR998877', N'King Fahd Road, Riyadh', N'Riyadh', N'Riyadh Region', N'Long-haul and regional cargo transport services', 1, N'falcon@dflogistics.sa', N'+966533333333', 1)
INSERT [dbo].[Provider] ([providerId], [userId], [providerName], [businessRegistrationNumber], [providerAddress], [providerCity], [providerRegion], [serviceDescription], [isApproved], [providerEmail], [providerPhoneNumber], [adminId]) VALUES (2, 5, N'Gulf Express Cargo', N'BR445566', N'King Abdulaziz Road, Dammam', N'Dammam', N'Eastern Province', N'Freight, warehousing, and delivery operations', 1, N'info@gulfexpress.sa', N'+966544444444', 1)
INSERT [dbo].[Provider] ([providerId], [userId], [providerName], [businessRegistrationNumber], [providerAddress], [providerCity], [providerRegion], [serviceDescription], [isApproved], [providerEmail], [providerPhoneNumber], [adminId]) VALUES (3, 7, N'Ortiz Harrington Co', N'37', N'Pariatur Quam paria', N'dammam', N'eastern', N'Velit eos tempora ut', 1, N'cojarol@mailinator.com', N'+1 (158) 943-6825', 1)
SET IDENTITY_INSERT [dbo].[Provider] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipment] ON 

INSERT [dbo].[Shipment] ([shipmentId], [trackingNumber], [currentStatus], [actualStartDate], [actualDeliveryTime], [contractId]) VALUES (6, N'TRK-006', N'Received', CAST(N'2025-10-09T05:18:12.340' AS DateTime), NULL, 1)
INSERT [dbo].[Shipment] ([shipmentId], [trackingNumber], [currentStatus], [actualStartDate], [actualDeliveryTime], [contractId]) VALUES (7, N'TRK-006', N'InTransit', CAST(N'2025-10-09T06:11:47.340' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Shipment] OFF
GO
SET IDENTITY_INSERT [dbo].[ShipmentRequest] ON 

SET IDENTITY_INSERT [dbo].[ShipmentRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userId], [userName], [userEmail], [userPassword], [userRole], [createdAt], [updatedAt]) VALUES (1, N'Admin User', N'admin@wasl.com', N'$2y$10$aKhNNNXlP3R96DfwJdPTn.ew6scWdg2tSCSUUNwGzaP/SRpqOEtCG', N'Admin', CAST(N'2025-10-08T01:41:12.637' AS DateTime), NULL)
INSERT [dbo].[User] ([userId], [userName], [userEmail], [userPassword], [userRole], [createdAt], [updatedAt]) VALUES (2, N'Saudi Logistics Co.dee', N'info@saudilogistics.com', N'$2y$10$aKhNNNXlP3R96DfwJdPTn.ew6scWdg2tSCSUUNwGzaP/SRpqOEtCG', N'Company', CAST(N'2025-10-08T01:41:12.640' AS DateTime), CAST(N'2025-10-08T00:35:51.933' AS DateTime))
INSERT [dbo].[User] ([userId], [userName], [userEmail], [userPassword], [userRole], [createdAt], [updatedAt]) VALUES (3, N'AlNajm Transport', N'contact@alnajm.com.sa', N'$2y$10$aKhNNNXlP3R96DfwJdPTn.ew6scWdg2tSCSUUNwGzaP/SRpqOEtCG', N'Company', CAST(N'2025-10-08T01:41:12.643' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__D54ADF55DBA7ECF5]    Script Date: 11/7/2025 3:21:45 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[userEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bid] ADD  DEFAULT (getdate()) FOR [submitDate]
GO
ALTER TABLE [dbo].[Company] ADD  DEFAULT ((0)) FOR [isApproved]
GO
ALTER TABLE [dbo].[Contract] ADD  DEFAULT (getdate()) FOR [signDate]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [feedbackDate]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [invoiceDate]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [paymentDate]
GO
ALTER TABLE [dbo].[Provider] ADD  DEFAULT ((0)) FOR [isApproved]
GO
ALTER TABLE [dbo].[RevenueReport] ADD  DEFAULT (getdate()) FOR [generateDate]
GO
ALTER TABLE [dbo].[ShipmentRequest] ADD  DEFAULT (getdate()) FOR [requestDate]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Feedback]  WITH NOCHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[User]  WITH NOCHECK ADD CHECK  (([userRole]='Provider' OR [userRole]='Company' OR [userRole]='Admin'))
GO
USE [master]
GO
